#include "Pods/Target Support Files/Pods{{abstract_targets_prefix}}-{{target_name}}/Pods{{abstract_targets_prefix}}-{{target_name}}.{{configuration.build_type}}.xcconfig"

{{#configuration.xcconfig_options}}
{{key}} = {{value}}
{{/configuration.xcconfig_options}}